:host {
  display: flex;
  justify-content: space-between;

  /** TODO make it without max-width */
  max-width: 400px;
}

.todo {
  /*
   * TODO fix accessibility: https://medium.com/claritydesignsystem/pure-css-accessible-checkboxes-and-radios-buttons-54063e759bb3
   * Find checkbox with higher quality
   */
  cursor: pointer;
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);

  &:before {
    content: '';
    position: absolute;
    top: -15px;
    left: -15px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(34, 50, 84, 0.03);
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  svg {
    margin-right: 10px;
    position: relative;
    z-index: 1;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #c8ccd4;
    stroke-width: 1.5;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;

    path {
      stroke-dasharray: 60;
      stroke-dashoffset: 0;
    }

    polyline {
      stroke-dasharray: 22;
      stroke-dashoffset: 66;
    }
  }

  &:hover:before {
    opacity: 1;
  }

  &:hover svg {
    stroke: var(--color-blue);
  }

  &__checkbox {
    display: none;
  }

  &__checkbox:checked + svg {
    stroke: var(--color-blue);
  }

  &__checkbox:checked + svg path {
    stroke-dashoffset: 60;
    transition: all 0.3s linear;
  }

  &__checkbox:checked + svg polyline {
    stroke-dashoffset: 42;
    transition: all 0.2s linear;
    transition-delay: 0.15s;
  }

  &__checkbox:checked ~ &__title {
    transition: color 0.3s;
    color: var(--color-text-light);
  }
}
