<nav class="side-nav show-up" *ngIf="!isLoading">
  <a class="side-nav__item" routerLink="/profile">
    <svg icon="profile" class="side-nav__icon"></svg>
    Profile
  </a>
  <a class="side-nav__item" routerLink="/goals">
    <svg icon="tasks" class="side-nav__icon"></svg>
    Goals
  </a>
  <a class="side-nav__item" href="#">
    <svg icon="share" class="side-nav__icon"></svg>
    Shared Items
  </a>
  <a class="side-nav__item" href="#">
    <svg icon="calendar" class="side-nav__icon"></svg>
    Calendar
  </a>
</nav>

<nav class="side-nav" *ngIf="isLoading">
  <div class="side-nav__item">
    <span class="shimmer shimmer--text">Lorem ipsum dolor.</span>
  </div>
  <div class="side-nav__item">
    <span class="shimmer shimmer--text">Lorem ipsum dolor sit.</span>
  </div>
  <div class="side-nav__item">
    <span class="shimmer shimmer--text">Lorem ipsum do.</span>
  </div>
  <div class="side-nav__item">
    <span class="shimmer shimmer--text">Lorem ipsum dolor.</span>
  </div>
</nav>

