:host {
  display: grid;
  grid-template-rows: 40px auto;
  grid-template-columns: repeat(3, 1fr);
}

.sidebar-statistics {
  &__progress-bar {
    grid-column: 1/-1;
  }
  &__info {
    text-align: center;
    font-size: 13px;
  }
  &__info-number {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 7px;
    color: var(--color-text-dark);
  }
  &__info-text {
    margin-bottom: 4px;
    font-weight: 500;
  }
  &__info-small {
    font-size: 0.9em;
    color: var(--color-text-light);

  }
}

.progress-bar {
  &__label {
    font-size: 0.6em;
    color: var(--color-text-light);
    text-align: right;
    margin-bottom: 4px;
  }
  &__container {
    background-color: #e7e7ef;
    border-radius: 8px;
    height: 5px;
    position: relative;
    overflow: hidden;
  }
  &__line {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: var(--color-blue);
    border-radius: 8px;
  }
}
