:host {
  background: #fafbfd;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: relative;
  /* without z-index scrollbar is behind list-tabs */
  z-index: 0;
}

.search {
  display: flex;
  justify-content: center;
  padding: 25px 35px;
  margin-bottom: 20px;
  flex-shrink: 0;
}

.search-input {
  width: 100%;
  border: none;
  padding: 12px 14px;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 10px 57px -10px rgba(155, 155, 155, 0.22);
}

.list-tabs {
  position: sticky;
  top: 0;
}

.goals {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__item {
    margin-bottom: 40px;
  }
}
