<ng-container *ngIf="authorized">
  <div class="show-up">
    <!-- TODO Experience will be like this https://smartprogress.do/uploadImages/001216630.jpg -->
    <img alt="User" class="user-info__img" [attr.src]="user.photoURL">
    <div class="user-info__name">{{user.displayName}}</div>
    <!--<div class="user-info__status">Cool</div>-->
  </div>
</ng-container>

<ng-container *ngIf="userIsLoading">
  <div class="user-info__img shimmer"></div>
  <div class="user-info__name shimmer shimmer--text">Loading placeholder</div>
</ng-container>

<ng-container *ngIf="unauthorized">
  <button class="show-up clean-button user-auth" (click)="auth()">
    <img alt="User" class="user-info__img" src="/assets/google.svg">
    <div class="user-info__name">Sign in with Google</div>
  </button>
</ng-container>
