:host {
  height: 100%;
  width: 100%;
}

.grow-container {
  display: grid;
  grid-template-columns: 290px auto;
  grid-template-rows: 100%;
  height: 100vh;
  overflow: hidden;

  &__content {
    display: grid;
    grid-template-columns: 395px auto;
  }
}
