:host {
  display: block;
  padding: 0 22px 22px 22px;
  overflow: auto;
}

.sidebar {
  &__logo {
    border-bottom: 1px solid var(--color-border);
    margin-bottom: 10px;
    position: sticky;
    top: 0;
    background: #fff;
  }
  &__statistics {
    margin-bottom: 30px;
  }
  &__add-task {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    padding: 0 25px;
  }
  &__nav {
    padding: 0 20px 0 40px;
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0 15px 30px;

  &__text {
    font-size: 28px;
    font-weight: 500;
    margin-right: 20px;
  }
  &__icon {
    width: 60px;
  }
}

.grow-button {
  padding: 13px;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 500;
  background-color: var(--color-blue);
  color: #ffffff;
  border: none;
  box-shadow: 0 21px 35px -15px rgba(94, 132, 255, 0.6);
}
