:root {
  --color-white: #fff;
  --color-text: #596073;
  --color-text-light: #99a0a8;
  --color-text-dark: #303e41;
  --color-border: #eaeaea;
  --color-blue: #5e84ff;
  --color-background-gray: #fafbfd;

  // Shimmer.
  --shimmer-text-border-radius: 4px;
}
